
/* import font.css */
@import url("./font.css");

html,body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    /* theme font */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Montserrat: 'Montserrat', cursive;
     
    /*theme colors  */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #fff;
    --midnight: #104f55;

    /* gradient color */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}

/* ---------- global classes---------- */
a{
    text-decoration: none;
    color: var(--text-gray);
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Montserrat);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Montserrat);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text-gray{
    color: var(--text-gray);
}


button.btn{
    padding: 1rem 3rem;
    border: none;
    border-radius: 2rem;
    font-family: var(--Abel);
    font-size: 1.1rem;
    cursor: pointer;
}

/* ---------- global classes---------- */



/*------------- navbar------------- */
.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 6vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.collapse{
    height: 30rem;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top:0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.nav .nav-brand a{
    padding:1rem 0;
    font-size: 1.6rem;
    font-family: var(--Abel);
    display: block;

}

.nav .nav-items{
    display: flex;
    margin:0;
}

.nav .nav-items .nav-link{
    padding: 1.4rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    /* font-size: 1.1; */
}

.nav .nav-items .nav-link:hover{
    background: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .social{
    padding: 1.4rem 0;
    font-size: 1.1rem;
}

.nav .social i{
    padding: 0.2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

/*-------x------ navbar-----x-------- */


/* ---------------Main Content--------------- */

/* ------------site-title -------------- */
main .site-title{
   display: flex;
   justify-content: center;
    height: 110vh;
    background: url('../assets/Background-image.png') no-repeat 0/cover;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title .site-background h1,h3{
    margin: .3rem;
}

main .site-title .site-background .btn{
    margin: 1.8rem;
    background: var(--sky);
}

main .site-title .site-background .btn:hover{
    background: transparent;
    border:1px solid var(--white);
    color: var(--white);
}

/* ------x------site-title ---------x----- */

/* -------x--------Main Content--------x------- */

/* ------viewport less than or equal to 750px ------*/
@media only screen and (max-width: 750px){
    .nav .nav-menu,.nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
}

/* ------viewport less than or equal to 750px ------*/